- content_for(:title) do
  Invitation Codes
- content_for(:all_of_us_helper_header) do
  = render 'layouts/all_of_us_helper_header'
- content_for(:all_of_us_helper_content_header) do
  #all-of-us-helper-content-header
    #invitation-codes-header
      = form_tag invitation_codes_url, method: 'get', id: 'search-invitation-codes-form' do
        %h1
          Invitation Codes
        .assignment_status
          %label{for: 'assignment_status' }
            Assignment Status
          = select_tag :assignment_status, options_for_select(InvitationCode::ASSIGNMENT_STATUSES.map { |assignment_status| [assignment_status, assignment_status] }, (params[:assignment_status].blank? ? '' : params[:assignment_status])), { include_blank: 'all', class: 'status'}
        .search-box
          %label{for: 'search' }
            Search
          = text_field_tag :search, (params[:search].nil? ? '' : params[:search]), type: 'search'
        .search-buttons
          %button{ type: 'submit', id: 'search-invitation-codes-button', class: 'tiny button' }
            Search
          = link_to 'Clear', invitation_codes_url()
- content_for(:all_of_us_helper_content) do
  #all-of-us-helper-content
    #invitation-codes
      = render 'shared/flash'
      #invitation-codes-list
        = will_paginate @invitation_codes, renderer: FoundationPagination::Rails, class: 'pagination-top'
        = link_to 'Upload Invitation Code File', new_batch_invitation_code_url, class: 'new-batch-invitation-code-link'
        %table.hack_stack.hover
          %thead
            %tr
              %th.code
                = sortable 'code'
              %th.assignment_status
                = sortable 'assignment_status'
              %th.show-invitation-code-link
          %tbody
            - @invitation_codes.each do |invitation_code|
              = content_tag_for(:tr, invitation_code) do
                %td.code
                  = invitation_code.code
                %td.assignment_status
                  = invitation_code.assignment_status
                %td.show-invitation-code-link
                  = link_to "Show", invitation_code_url(invitation_code), class: 'show-invitation-code-link'
        = will_paginate @patients, renderer: FoundationPagination::Rails