- content_for(:title) do
  = "Invitation Code"
- content_for(:all_of_us_helper_header) do
  = render 'layouts/all_of_us_helper_header'
- content_for(:all_of_us_helper_content_header) do
  #all-of-us-helper-content-header
    #invitation-code-header
      %h1
        Invitation Code
- content_for(:all_of_us_helper_content) do
  #all-of-us-helper-content
    #invitation-code-show
      .code
        %strong
          Code:
        = @invitation_code.code
      .assignment_status
        %strong
          Assignment Status:
        = @invitation_code.assignment_status
      .actions
        %hr
        = link_to 'Patients', patients_url(), { class: 'patients-link' }
        |
        = link_to 'Invitation Codes', invitation_codes_url(), { class: 'invitation-codes-link' }