%tr
  %td.first_name
    = health_pro.first_name
  %td.last_name
    = health_pro.last_name
  %td.date_of_birth
    = health_pro.date_of_birth
  %td.sex
    = health_pro.sex
  %td.phone.email
    = health_pro.email
    %hr
    = health_pro.login_phone
  %td.address
    = health_pro.address
  %td.pmi_id
    = health_pro.pmi_id
  %td.paried
    = health_pro.paired_organization
    %hr
    = health_pro.paired_site
  %td.status
    = health_pro.status
- if health_pro.matchable? && @batch_health_pro.ready?
  = content_tag_for(:tr, health_pro) do
    %td{ colspan: 12 }
      %ul.accordion{"data-accordion" => "", "data-allow-all-closed" => "true"}
        %li.accordion-item{"data-accordion-item" => ""}
          / Accordion tab title
          %a.accordion-title{:href => "#"} Matches?
          / Accordion tab content: it would start in the open state due to using the `is-active` state class.
          .accordion-content{"data-tab-content" => ""}
            - if health_pro.duplicate_matches.any?
              .row.potential-duplicates
                %h3.callout.warning
                  Potential Duplicates
                %table.columns.large-24
                  %thead
                    %tr
                      %th.record_id
                        Record ID
                      %th.pmi_id
                        PMI ID
                      %th.first_name
                        First
                      %th.last_name
                        Last
                      %th.email.phone
                        Email|Phone
                      %th.show-patient-link.text-center
                  - health_pro.duplicate_matches.each do |duplicate_match|
                    %tbody
                      = content_tag_for(:tr, duplicate_match) do
                        %td.record_id
                          = duplicate_match.patient.record_id
                        %td.pmi_id
                          = duplicate_match.patient.pmi_id
                        %td.first_name
                          = duplicate_match.patient.first_name
                        %td.last_name
                          = duplicate_match.patient.last_name
                        %td.email.phone
                          = duplicate_match.patient.email
                          %hr
                          = duplicate_match.patient.phone_1
                        %td.make-match-link.text-right
                          = link_to 'Show', patient_url(duplicate_match.patient)
            .row
              %h3
                REDCap Participant Matches
              - if health_pro.matches.empty?
                ='None found'
                %i
                  (please double-check by manually searching for a match to a REDCap participant)
                ='.'
              -else
                - health_pro.matches.each do |match|
                  %table.columns.large-24
                    %thead
                      %tr
                        %th{ colspan: 5 }
                          REDCap
                      %tr
                        %th.record_id
                          Record ID
                        %th.first_name
                          First
                        %th.last_name
                          Last
                        %th.email.phone
                          Email|Phone
                        %th.match-links.text-center
                          Match?
                    %tbody
                      = content_tag_for(:tr, match) do
                        %td.record_id
                          = match.patient.record_id
                        %td.first_name
                          = match.patient.first_name
                        %td.last_name
                          = match.patient.last_name
                        %td.email.phone
                          = match.patient.email
                          %hr
                          = match.patient.phone_1
                        %td.make-match-link.text-right
                          = form_with(model: match, url: accept_match_url(match.id), local: false, class: 'match-accept-form match-form') do |f|
                            = f.hidden_field :empi_match_id, class: 'empi_match_id'
                            = f.submit 'Match to REDCap', class: 'button', 'data-confirm': 'Link to REDCap?'
                          = form_with(model: match, url: decline_match_url(match.id), local: false, class: 'match-decline-form match-form') do |f|
                            = f.submit 'Decline match to REDCap', class: 'button', 'data-confirm': 'Decline link to REDCap?'
            .row
              .columns.large-12
                .match-create-form-container
                  = render 'health_pros/match_create_form', health_pro: health_pro, unmatched_patients: @unmatched_patients
              .columns.large-offset-7.large-5
                .match-create-patient-form-container
                  = render 'health_pros/match_create_patient_form', health_pro: health_pro
            .row
              %h3
                EMPI Matches
              - if health_pro.empi_matches.empty?
                ='None found'
                %i
                  (please double-check by manually searching for an EMPI match)
                ='.'
                &nbsp;
                = link_to 'EMPI', new_empi_lookup_url(first_name: health_pro.first_name, last_name: health_pro.last_name, birth_date: health_pro.date_of_birth, gender: health_pro.sex_to_patient_gender, address: health_pro.address), class: 'new-empi-link button'
            .empi-matches
              - if health_pro.empi_matches.any?
                = render 'health_pros/empi_matches', health_pro: health_pro
            .row
              .columns.large-offset-20.large-4
                - if health_pro.matchable?
                  = form_with(model: health_pro, local: false, class: 'healthpro-decline-form healthpro-form') do |f|
                    = f.hidden_field :status, value: HealthPro::STATUS_DECLINED
                    = f.submit 'Decline Health Pro', class: 'button', 'data-confirm': 'Decline Health Pro?'
