- content_for(:title) do
  = "Upload Invitation Codes"
- content_for(:all_of_us_helper_header) do
  = render 'layouts/all_of_us_helper_header'
- content_for(:all_of_us_helper_content_header) do
  #all-of-us-helper-content-header
    #new-batch-invitation-code-header
      %h1
        = 'Upload Invitation Codes'
- content_for(:all_of_us_helper_content) do
  #all-of-us-helper-content
    #batch-invitation-code
      = link_to 'Sample Invitation Code File', 'sample_invitation_code_file.csv', target: '_blank'
      = form_with(model: @batch_invitation_code,  local: true, multipart: true, id: 'batch-invitation-code-form') do |f|
        - if validation_errors?(@batch_invitation_code, :base)
          #batch-invitation-code-errors.callout.alert
            %p.error= format_validation_errors(@batch_invitation_code, :base)
        = render 'batch_invitation_code',  batch_invitation_code: @batch_invitation_code,  f: f
        .navigation
          %p.help-text
            %span{ class: 'required' }
            Indicates required field
          = f.submit 'Save', class: 'button'
          = link_to 'Cancel', invitation_codes_url(), class: 'cancel-link button warning'
      #invitation-code-errors
        - if validation_errors?(@batch_invitation_code, :invitation_codes)
          %h2
            Errors
        - @batch_invitation_code.invitation_codes.each do |invitation_code|
          - if invitation_code.errors.any?
            .invitation_code.callout.alert
              .code
                %strong
                  Code:
                = invitation_code.code
                - invitation_code.errors.full_messages.each do |msg|
                  %div
                    = msg
      .actions
        %hr
        = link_to 'Patients', patients_url(), { class: 'patients-link' }
        |
        = link_to 'Invitation Codes', invitation_codes_url(), { class: 'invitation-codes-link' }