- if @error
  = content_tag :div, 'data-closable' => '', class: "callout small alert" do
    %button.close-button{'aria-label' => 'dismiss alert', 'data-close' => '', :type => 'button'}
      %span{'aria-hidden' => 'true'} ×
    Error calling EMPI
-if @empi_patients.empty?
  ='None found'
  %i
    (possibly double-check by manually altering any HealthPro fields above)
  ='.'
- else
  %table.hack_stack.hover
    %thead
      %tr
        %th.first_name
          First Name
        %th.last_name
          Last Name
        %th.birth_date
          Birth Date
        %th.gender
          Gender
        %th.race
          Race
        %th.ethnicity
          Ethnicity
        %th.address
          Address
        %th.nmhc_mrn
          NMHC
        %th.select-empi-patient-link
          Assign?
    %tbody
      - @empi_patients.each do |empi_patient|
        %tr.empi_patient
          %td.first_name
            = empi_patient['first_name']
          %td.last_name
            = empi_patient['last_name']
          %td.birth_date
            = empi_patient['birth_date']
          %td.gender
            = empi_patient['gender']
          %td.race
            = empi_patient['races'].join('|')
          %td.ethnicity
            = empi_patient['ethnicity']
          %td.address
            = format_address(empi_patient)
          %td.nmhc_mrn
            = empi_patient['nmhc_mrn']
          %td.assign-empi-patient-link.text-center
            = radio_button_tag 'assign-empi-patient', class: 'assign-empi-patient'