- content_for(:title) do
  Patients
- content_for(:all_of_us_helper_header) do
  = render 'layouts/all_of_us_helper_header'
- content_for(:all_of_us_helper_content_header) do
  #all-of-us-helper-content-header
    #patients-header
      = form_tag patients_url, method: 'get', id: 'search-patients-form' do
        %h1
          Patients
        .registration_status
          %label{for: 'registration_status' }
            Registration Status
          = select_tag :registration_status, options_for_select(Patient::REGISTRATION_STATUSES.map { |registration_status| [registration_status, registration_status] }, (params[:registration_status].blank? ? '' : params[:registration_status])), { include_blank: 'all' }
        .search-box
          %label{for: 'search' }
            Search
          = text_field_tag :search, (params[:search].nil? ? '' : params[:search]), type: 'search'
        .search-buttons
          %button{ type: 'submit', id: 'search-patients-button', class: 'tiny button' }
            Search
          = link_to 'Clear', patients_url()
- content_for(:all_of_us_helper_content) do
  #all-of-us-helper-content
    #patients
      = render 'shared/flash'
      #patients-list
        = will_paginate @patients, renderer: FoundationPagination::Rails
        %table.hack_stack.hover
          %thead
            %tr
              %th.record_id
                = sortable 'record_id'
              %th.pmi_id
                = sortable 'pmi_id', 'PMI ID'
              %th.registration_status
                = sortable 'registration_status', 'Registration Status'
              %th.last_name
                = sortable 'last_name'
              %th.first_name
                = sortable 'first_name'
              %th.email
                = sortable 'email'
              %th.invitation_code
                Invitation Code
              %th.physical_measurements_completion_date
                = sortable 'physical_measurements_completion_date', 'PM Completion Date'
              %th.show-patient-link
          %tbody
            - @patients.each do |patient|
              = content_tag_for(:tr, patient) do
                %td.record_id
                  = patient.record_id
                %td.pmi_id
                  = patient.pmi_id
                %td.registration_status
                  = patient.registration_status
                %td.last_name
                  = patient.last_name
                %td.first_name
                  = patient.first_name
                %td.email
                  = patient.email
                %td.invitation_code
                  = patient.invitation_code
                %td.invitation_code
                  = patient.physical_measurements_completion_date
                %td.show_patient_link
                  = link_to "Show", patient_url(patient), class: 'show-patient-link'
        = will_paginate @patients, renderer: FoundationPagination::Rails