- content_for(:title) do
  = "Patient: #{@patient.full_name}"
- content_for(:all_of_us_helper_header) do
  = render 'layouts/all_of_us_helper_header'
- content_for(:all_of_us_helper_content_header) do
  #all-of-us-helper-content-header
    #patient-header
      %h1
        Patient
- content_for(:all_of_us_helper_content) do
  #all-of-us-helper-content
    #patient-show
      = render 'shared/flash'
      .row
        .columns.large-8
          .registration_status.field
            %strong
              Registration Status:
            %span.value
              = @patient.registration_status
          .record_id.field
            %strong
              REDCap Record ID:
            %span.value
              = @patient.record_id
          .pmi_id.field
            %strong
              PMI ID:
            %span.value
              = @patient.pmi_id
          .email.field
            %strong
              REDCap email:
            %span.value
              = @patient.email
          .health_pro_email.field
            %strong
              Health Pro email:
            %span.value
              = @patient.health_pro_email if @patient.health_pro_email.present?
          .phone.field
            %strong
              REDCap phone:
            %span.value
              = @patient.phone_1
          .health_pro_phone.field
            %strong
              Health Pro phone:
            %span.value
              = @patient.health_pro_login_phone if @patient.health_pro_login_phone.present?
          .paried_site.field
            %strong
              Paired Site:
            %span.value
              = @patient.paired_site
          .paried_organizaton.field
            %strong
              Paired Organization:
            %span.value
              = @patient.paired_organization
        .columns.large-8
          .health_pro_race_ethnicity.field
            %strong
              Race/Ethnicity:
            = @patient.health_pro_race_ethnicity
            %br
            %label{for: 'mapped_health_pro_race'}
              %strong
                Mapped Race:
            = text_field_tag :mapped_health_pro_race, @patient.mapped_health_pro_race, id: 'mapped_health_pro_race', disabled: true
            %label{for: 'mapped_health_pro_ethnicity'}
              %strong
                Mapped Ethnicity:
            = text_field_tag :mapped_health_pro_ethnicity, @patient.mapped_health_pro_ethnicity, id: 'mapped_health_pro_ethnicity', disabled: true
          .health_pro_sex.field
            %strong
              Sex:
            = @patient.health_pro_sex
          .general_consent_status.field
            %strong
              General Consent Status:
            = @patient.general_consent_status_display
          .general_consent_date.field
            %strong
              General Consent Date:
            = @patient.general_consent_date
          .ehr_consent_status.field
            %strong
              EHR Consent Status:
            = @patient.ehr_consent_status_display
          .ehr_consent_date.field
            %strong
              EHR Consent Status Date:
            = @patient.ehr_consent_date
          .withdrawal_status.field
            %strong
              Withdrawal Status:
            = @patient.withdrawal_status_display
          .withdrawal_status_date.field
            %strong
              Withdrawal Status Date:
            = @patient.withdrawal_date
          .biospecimens_location.field
            %strong
              Biospecimens Location:
            = @patient.biospecimens_location
          .participant_status.field
            %strong
              Participant Status:
            = @patient.participant_status
          .physical_measurements_completion_date.field
            %strong
              Physical Measurements Completion Date:
            = @patient.physical_measurements_completion_date
        .columns.large-8
          = form_with(model: @patient, local: true, id: 'patient-form') do |f|
            .row.first_name
              %div{class: 'small-14 large-8 columns' }
                %label{for: 'patient_first_name' }
                  First Name:
                  %span{ class: 'required' }
              %div{class: 'small-10 large-16 columns' }
                = f.text_field :first_name, id: 'patient_first_name'
                - if validation_errors?(@patient, :first_name)
                  %p.error= format_validation_errors(@patient, :first_name)
            .row.last_name
              %div{class: 'small-14 large-8 columns' }
                %label{for: 'patient_last_name' }
                  Last Name:
                  %span{ class: 'required' }'
              %div{class: 'small-10 large-16 columns' }
                = f.text_field :last_name, id: 'patient_last_name'
                - if validation_errors?(@patient, :last_name)
                  %p.error= format_validation_errors(@patient, :last_name)
            .row.birth_date
              %div{class: 'small-14 large-8 columns' }
                %label{for: 'patient_birth_date' }
                  Birth Date:
                  %span{ class: 'required' }'
              %div{class: 'small-10 large-16 columns' }
                = f.text_field :birth_date, value: @patient.birth_date.present? ? @patient.birth_date.to_s(:date) : nil, id: 'patient_birth_date', class: 'datepicker'
                - if validation_errors?(@patient, :birth_date)
                  %p.error= format_validation_errors(@patient, :birth_date)
            .row.nmhc_mrn
              %div{class: 'small-14 large-8 columns' }
                %label{for: 'patient_nmhc_mrn' }
                  NMHC MRN:
                  %span{ class: 'required' }
              %div{class: 'small-10 large-16 columns' }
                %span.value
                  = @patient.nmhc_mrn
                = f.hidden_field :nmhc_mrn, value: @patient.nmhc_mrn, id: 'patient_nmhc_mrn'
            .row.patient_features
              %div{class: 'small-24 large-24 columns' }
                = f.fields_for :patient_features do |f|
                  = f.label :enabled, "#{f.object.feature}:"
                  = f.check_box :enabled
            .row.gender
              %div{class: 'small-14 large-8 columns' }
                %label{for: 'patient_gender' }
                  Gender:
                  %span{ class: 'required' }
              %div{class: 'small-10 large-16 columns' }
                = f.select :gender, options_for_select(Patient::GENDERS,  selected: f.object.gender), { include_blank: true }, id: 'patient_gender'
            .row.ethnicity
              %div{class: 'small-14 large-8 columns' }
                %label{for: 'patient_ethnicity' }
                  Ethnicity:
                  %span{ class: 'required' }
              %div{class: 'small-10 large-16 columns' }
                = f.select :ethnicity, options_for_select(Patient::ETHNICITIES,  selected: f.object.ethnicity), { include_blank: true }, id: 'patient_ethnicity'
            .row.races
              %div{class: 'small-24 large-24 columns' }
                %label{for: 'patient_races' }
                  Races:
              %div{class: 'small-24 large-24 columns' }
                - for race in Race.all
                  %div
                    = check_box_tag "patient[race_ids][]", race.id, @patient.races.include?(race), class: 'patient_race', id: "patient_race_#{race.id}", data: { text: race.name }
                    %label{for: "patient_race_#{race.id}" }
                      = race.name
            = f.submit 'Update Demographics', class: 'button', data: { confirm: 'Are you sure you want update the patient?' }

            - if @patient.accepted_match
              = link_to 'EMPI', new_empi_lookup_url(first_name: @patient.first_name, last_name: @patient.last_name, birth_date: @patient.birth_date.present? ? @patient.birth_date.to_s(:date) : nil, gender: @patient.gender.present? ? @patient.gender : @patient.accepted_match.health_pro.sex_to_patient_gender, address: @patient.accepted_match.health_pro.address, match_id: @patient.match.id), class: 'new-empi-link button', disabled: @patient.registered?
              = link_to 'Use Health Pro Ethnicity', '#', class: 'set-ethnicity-link button', disabled: !@patient.allow_health_pro_race_ethnicity_override?
              = link_to 'Use Health Pro Race', '#', class: 'set-race-link button', disabled:  !@patient.allow_health_pro_race_ethnicity_override?
            -else
              = link_to 'EMPI', new_empi_lookup_url(first_name: @patient.first_name, last_name: @patient.last_name, birth_date: @patient.birth_date.present? ? @patient.birth_date.to_s(:date): nil, gender: @patient.gender, address: nil, match_id: nil), class: 'new-empi-link button', disabled: @patient.registered?
          = form_with(url: register_patient_url(@patient), local: true, id: 'register-patient-form') do |f|
            = f.submit 'Register Study Tracker', class: 'button', 'data-confirm': 'Register patient?', disabled: (!@patient.ready? || !@patient.demographics_ready? || @patient.registered?)
          - if current_user.username == 'mjg994' || current_user.username == 'kyh7878'
						- if @patient.accepted_match
							= link_to 'EMPI', new_empi_lookup_url(first_name: @patient.first_name, last_name: @patient.last_name, birth_date: @patient.birth_date.present? ? @patient.birth_date.to_s(:date) : nil, gender: @patient.gender.present? ? @patient.gender : @patient.accepted_match.health_pro.sex_to_patient_gender, address: @patient.accepted_match.health_pro.address, match_id: @patient.match.id), class: 'new-empi-link button', disabled: @patient.registered?
							= link_to 'Use Health Pro Ethnicity', '#', class: 'set-ethnicity-link button', disabled: !@patient.allow_health_pro_race_ethnicity_override?
							= link_to 'Use Health Pro Race', '#', class: 'set-race-link button', disabled:  !@patient.allow_health_pro_race_ethnicity_override?
					- else			
		        = link_to 'EMPI', new_empi_lookup_url(first_name: @patient.first_name, last_name: @patient.last_name, birth_date: @patient.birth_date.present? ? @patient.birth_date.to_s(:date) : nil, gender: @patient.gender, address: nil, match_id: nil), class: 'new-empi-link button'
		        = form_with(url: register_patient_url(@patient), local: true, id: 'register-patient-form') do |f|
		          = f.submit 'Register Study Tracker', class: 'button', 'data-confirm': 'Register patient?'
      .row
        .columns.large-24
          %hr
          .invitation_code
            %strong
              Current Invitation Code:
            = @patient.invitation_code
          .historical_invitation_codes
            %strong
              Historical Invitation Codes
            - if @patient.invitation_code_assignments.is_inactive.any?
              %table.hack_stack.hover
                %thead
                  %tr
                    %th.date
                      Date
                    %th.code
                      Invitation Code
                %tbody
                  - @patient.invitation_code_assignments.is_inactive.order('created_at DESC').each do |invitation_code_assignment|
                    = content_tag_for(:tr, invitation_code_assignment) do
                      %td.date
                        = invitation_code_assignment.created_at.to_s(:date_time12)
                      %td.code
                        = invitation_code_assignment.invitation_code.code
            - else
              %br
              %em
                None
        .actions
          %hr
          = link_to 'Patients', patients_url(), { class: 'patients-link' }
          |
          = link_to 'Invitation Codes', invitation_codes_url(), { class: 'invitation-codes-link' }

      #empi-lookup-modal.reveal.large{ "data-reveal" => "" }
        #empi-lookup
        %button.close-button{"aria-label" => "Close modal", "data-close" => "", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
