- content_for(:title) do
  = "Patient: #{@patient.full_name}"
- content_for(:all_of_us_helper_header) do
  = render 'layouts/all_of_us_helper_header'
- content_for(:all_of_us_helper_content_header) do
  #all-of-us-helper-content-header
    #patient-header
      %h1
        Patient
- content_for(:all_of_us_helper_content) do
  #all-of-us-helper-content
    #patient-show
      = render 'shared/flash'
      .record_id
        %strong
          REDCap Record ID:
        = @patient.record_id
      .pmi_id
        %strong
          PMI ID:
        = @patient.pmi_id
      .first_name
        %strong
          First Name:
        = @patient.first_name
      .last_name
        %strong
          Last Name:
        = @patient.last_name
      .email
        %strong
          Email:
        = @patient.email
      .general_consent_status
        %strong
          General Consent Status
        = @patient.accepted_match.health_pro.general_consent_status if @patient.accepted_match
      .general_consent_date
        %strong
          General Consent Date
        = @patient.accepted_match.health_pro.general_consent_date if @patient.accepted_match
      .ehr_consent_status
        %strong
          EHR Consent Status
        = @patient.accepted_match.health_pro.ehr_consent_status if @patient.accepted_match
      .ehr_consent_date
        %strong
          EHR Consent Status
        = @patient.accepted_match.health_pro.ehr_consent_date if @patient.accepted_match
      .invitation_code
        %strong
          Current Invitation Code:
        = @patient.invitation_code
      .historical_invitation_codes
        %hr
        %strong
          Historical Invitation Codes
        - if @patient.invitation_code_assignments.is_inactive.any?
          %table.hack_stack.hover
            %thead
              %tr
                %th.date
                  Date
                %th.code
                  Invitation Code
            %tbody
              - @patient.invitation_code_assignments.is_inactive.order('created_at DESC').each do |invitation_code_assignment|
                = content_tag_for(:tr, invitation_code_assignment) do
                  %td.date
                    = invitation_code_assignment.created_at.to_s(:date_time12)
                  %td.code
                    = invitation_code_assignment.invitation_code.code
        - else
          %br
          %em
            None
      .actions
        %hr
        = form_with(model: [@patient, @invitation_code_assignment], local: true, id: 'invitation-code-assignment-form') do |f|
          = f.submit 'Assign New Invitation Code', class: 'button', data: { confirm: 'Are you sure you want to assign a new invitation code?' }
        |
        = link_to 'Patients', patients_url(), { class: 'patients-link' }
        |
        = link_to 'Invitation Codes', invitation_codes_url(), { class: 'invitation-codes-link' }