- content_for(:title) do
  = "Patient: #{@patient.full_name}"
- content_for(:all_of_us_helper_header) do
  = render 'layouts/all_of_us_helper_header'
- content_for(:all_of_us_helper_content_header) do
  #all-of-us-helper-content-header
    #patient-header
      %h1
        Patient
- content_for(:all_of_us_helper_content) do
  #all-of-us-helper-content
    #patient-show
      = render 'shared/flash'
      .row
        .columns.large-8
          .registration_status.field
            %strong
              Registration Status:
            = @patient.registration_status
          .record_id.field
            %strong
              REDCap Record ID:
            = @patient.record_id
          .pmi_id.field
            %strong
              PMI ID:
            = @patient.pmi_id
          .first_name.field
            %strong
              First Name:
            = @patient.first_name
          .last_name.field
            %strong
              Last Name:
            = @patient.last_name
          .email.field
            %strong
              Email:
            = @patient.email
          .birth_date.field
            %strong
              Birth Date:
            = @patient.birth_date.to_s(:date) if @patient.birth_date
          .nmhc_mrn.field
            %strong
              NMHC MRN:
            = @patient.nmhc_mrn
          .nmh_mrn.field
            %strong
              NMH MRN:
            = @patient.nmh_mrn
          .nmff_mrn.field
            %strong
              NMFF MRN:
            = @patient.nmff_mrn
          .lfh_mrn.field
            %strong
              LFH MRN:
            = @patient.lfh_mrn
        .columns.large-8
          .general_consent_status.field
            %strong
              General Consent Status
            = @patient.general_consent_status if @patient.accepted_match
          .general_consent_date.field
            %strong
              General Consent Date
            = @patient.general_consent_date if @patient.accepted_match
          .ehr_consent_status.field
            %strong
              EHR Consent Status
            = @patient.ehr_consent_status if @patient.accepted_match
          .ehr_consent_date.field
            %strong
              EHR Consent Status Date
            = @patient.ehr_consent_date if @patient.accepted_match
          .withdrawal_status.field
            %strong
              Withdrawal Status
            = @patient.withdrawal_status if @patient.accepted_match
          .withdrawal_status_date.field
            %strong
              Withdrawal Status Date
            = @patient.withdrawal_date if @patient.accepted_match
          .biospecimens_location.field
            %strong
              Biospecimens Location
            = @patient.biospecimens_location if @patient.accepted_match
        .columns.large-8
          = form_with(model: @patient, local: true, id: 'patient-form') do |f|
            .row.gender
              %div{class: 'small-14 large-8 columns' }
                %label{for: 'patient_gender' }
                  Gender
                  %span{ class: 'required' }
              %div{class: 'small-10 large-16 columns' }
                = f.select :gender, options_for_select(Patient::GENDERS,  selected: f.object.gender), { include_blank: true }, id: 'patient_gender'
            .row.ethnicity
              %div{class: 'small-14 large-8 columns' }
                %label{for: 'patient_ethnicity' }
                  Ethnicity
                  %span{ class: 'required' }
              %div{class: 'small-10 large-16 columns' }
                = f.select :ethnicity, options_for_select(Patient::ETHNICITIES,  selected: f.object.ethnicity), { include_blank: true }, id: 'patient_ethnicity'
            .row.races
              %div{class: 'small-24 large-24 columns' }
                %label{for: 'patient_races' }
                  Races
              %div{class: 'small-24 large-24 columns' }
                - for race in Race.all
                  %div
                    = check_box_tag "patient[race_ids][]", race.id, @patient.races.include?(race), id: "patient_race_#{race.id}", data: { text: race.name }
                    %label{for: "patient_race_#{race.id}" }
                      = race.name
            = f.submit 'Update Demographics', class: 'button', data: { confirm: 'Are you sure you want update the patient?' }
          - if @patient.registration_status == Patient::REGISTRATION_STATUS_READY
            = form_with(url: register_patient_url(@patient), local: true, id: 'register-patient-form') do |f|
              = f.submit 'Register Study Tracker', class: 'button', 'data-confirm': 'Register patient?', disabled: !@patient.demographics_ready?
      .row
        .columns.large-24
          %hr
          .invitation_code
            %strong
              Current Invitation Code:
            = @patient.invitation_code
          .historical_invitation_codes
            %strong
              Historical Invitation Codes
            - if @patient.invitation_code_assignments.is_inactive.any?
              %table.hack_stack.hover
                %thead
                  %tr
                    %th.date
                      Date
                    %th.code
                      Invitation Code
                %tbody
                  - @patient.invitation_code_assignments.is_inactive.order('created_at DESC').each do |invitation_code_assignment|
                    = content_tag_for(:tr, invitation_code_assignment) do
                      %td.date
                        = invitation_code_assignment.created_at.to_s(:date_time12)
                      %td.code
                        = invitation_code_assignment.invitation_code.code
            - else
              %br
              %em
                None
        .actions
          %hr
          = form_with(model: [@patient, @invitation_code_assignment], local: true, id: 'invitation-code-assignment-form') do |f|
            = f.submit 'Assign New Invitation Code', class: 'button', data: { confirm: 'Are you sure you want to assign a new invitation code?' }
          |
          = link_to 'Patients', patients_url(), { class: 'patients-link' }
          |
          = link_to 'Invitation Codes', invitation_codes_url(), { class: 'invitation-codes-link' }