- content_for(:title) do
  Batch Health Pros
- content_for(:all_of_us_helper_header) do
  = render 'layouts/all_of_us_helper_header'
- content_for(:all_of_us_helper_content_header) do
  #all-of-us-helper-content-header
    #batch-health-pros-header
      %h1
        Health Pros
- content_for(:all_of_us_helper_content) do
  #all-of-us-helper-content
    #batch-health-pros
      = render 'shared/flash'
      #pending-batch-health-pros-list
        %h2
          Pending
        = will_paginate @pending_batch_health_pros, renderer: FoundationPagination::Rails, class: 'pagination-top'
        = link_to 'Upload Health Pro File', new_batch_health_pro_url(), { class: 'new-batch-health-pro-link' }
        %table.hack_stack.hover
          %thead
            %tr
              %th.created_at
                = sortable 'created_at'
              %th.status
                = sortable 'status'
              %th.show-batch-health-pro-link
          %tbody
            - @pending_batch_health_pros.each do |pending_batch_health_pro|
              = content_tag_for(:tr, pending_batch_health_pro) do
                %td.created_at
                  = pending_batch_health_pro.created_at.to_s(:date)
                %td.status
                  = pending_batch_health_pro.status
                %td.show-batch-health-pro-link
                  = link_to "Show", batch_health_pro_url(pending_batch_health_pro), class: 'show-batch-health-pro-link'
        = will_paginate @pending_batch_health_pros, renderer: FoundationPagination::Rails

      #expired-batch-health-pros-list
        %h2
          Expired
        = will_paginate @expired_batch_health_pros, renderer: FoundationPagination::Rails, class: 'pagination-top'
        %table.hack_stack.hover
          %thead
            %tr
              %th.created_at
                = sortable 'created_at'
              %th.status
                = sortable 'status'
              %th.show-batch-health-pro-link
          %tbody
            - @expired_batch_health_pros.each do |expired_batch_health_pro|
              = content_tag_for(:tr, expired_batch_health_pro) do
                %td.created_at
                  = expired_batch_health_pro.created_at.to_s(:date)
                %td.status
                  = expired_batch_health_pro.status
                %td.show-batch-health-pro-link
                  = link_to "Show", batch_health_pro_url(expired_batch_health_pro), class: 'show-batch-health-pro-link'
        = will_paginate @expired_batch_health_pros, renderer: FoundationPagination::Rails